<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
    <title>비밀번호 변경</title>
    <style>
        .text-muted {
            color: #aeb0b4 !important;
        }
        .text-muted {
            font-weight: 300;
        }
        .form-control {
            display: block;
            width: 100%;
            height: calc(1.5em + 0.75rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.5;
            color: #4d5154;
            background-color: #ffffff;
            background-clip: padding-box;
            border: 1px solid #eef0f3;
            border-radius: 0.25rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
    </style>
</head>
<body>
    <div style="margin-left: 8.4px; margin-top: 8px;"><%- include('./nav'); %></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8 mx-auto">
                <h2 class="h3 mb-4 page-title">비밀번호 변경</h2>
                <div class="my-4">
                    
                    <form>
                        <hr class="my-4" />
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <form action="" method="post">
                                    <div class="form-group">
                                        <label for="inputPassword4">현재 비밀번호</label>
                                        <input type="password" class="form-control" name="inputPassword4" />
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword5">새 비밀번호</label>
                                        <input type="password" class="form-control" name="inputPassword5" />
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword6">비밀번호 확인</label>
                                        <input type="password" class="form-control" name="inputPassword6" />
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <p class="mb-2">안전한 비밀번호 만드는 법</p>
                                <p class="small text-muted mb-2">To create a new password, you have to meet all of the following requirements:</p>
                                <ul class="small text-muted pl-4 mb-0">
                                    <li>Minimum 8 character</li>
                                    <li>At least one special character</li>
                                    <li>At least one number</li>
                                    <li>Can’t be the same as a previous password</li>
                                </ul>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">확인</button>
                    </form>
                </div>
            </div>
        </div>
        
        </div>
</body>
</html>