<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="font.css">
        <meta charset='UTF-8'>
        <title>
            O(nlogn) 호텔 관리 정보 시스템
        </title>
        <meta charset='UTF-8'>
        <style>

            .container {
                /* margin: 80px 0px 0px 300px; */
                /* display: flex; */
                padding-bottom: 100px;
            }

            .profile {
                display: flex;
                width: 300px;
            }

            .banner {
                border: dotted 3px black;
                border-radius: 20px;

                margin-top: 50px;
                margin-left: 400px;

                width: 600px;
                height: 150px;
            }
            
            a {
                text-decoration: none;
                color: black;
            }

            a:hover {
                font-weight: bold;
            }

            .prfimg {
                width: 120px;
                border-radius: 50px;
            }

            .content {
                vertical-align: middle;
            }

            .content p {
                width: 100px;
            }

            h2 {
                font-weight: normal;
                text-align: center;
                margin-top: 70px;
                font-size: 22px;
            }

            strong {
                margin-top: 20px;
                display: block;
                font-size: 24px;
            }
        </style>
    </head>
    <body>
        <%- include('./nav'); %>
        <div style="height: max-content; background-color: #f8f8f8;">
            <img src="hotel.jpg" style="border-radius: 10px; opacity: 95%; z-index: 0;" width="100%; margin-top: 200px;">
            <div class="container">
                <h2>
                    <p>우리집 같은 편안함</p>
                    <strong>O(nlogn)</strong>
                </h2>
            </div>
        </div>
        
        
    </body>
</html>
