<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <title>
            O-(nlogn) 호텔 관리 정보 시스템
        </title>
        <meta charset='UTF-8'>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
            *{
                font-family: 'Nanum Gothic', sans-serif;
            }

            .container {
                margin: 80px 0px 0px 300px;
                display: flex;
            }

            .profile {
                display: flex;
                width: max-content;
            }

            .banner {
                border: dotted 3px black;
                border-radius: 20px;

                margin-top: 50px;
                margin-left: 400px;

                width: 600px;
                height: 150px;
            }
            
            a {
                text-decoration: none;
                color: black;
            }

            a:hover {
                font-weight: bold;
            }

            .prfimg {
                width: 120px;
                border-radius: 50px;
            }

            .content {
                vertical-align: middle;
            }
        </style>
    </head>
    <body>
        <%- include('./nav'); %>
        <div style="height: 800px; background-color: #f8f8f8; padding: 10px;">
            <img src="hotel.jpg" style="border-radius: 10px; opacity: 95%; z-index: 0;" width="1880px;">
            <div class="container">
                <div class="profile" style="padding: 10px; border: dotted 3px black; border-radius: 20px;">
                    <img class="prfimg" src="https://post-phinf.pstatic.net/MjAxNzA2MjlfOTAg/MDAxNDk4NzM5NzUxMDEz.AaHgW4nN3_oyFlvxr-6l3UpJ3C_qSbxCWugcmw0_OI4g.EcUsgmdE_oNTw0dWcxLWexeY8Jd3bGQIA0S08MPmACsg.PNG/1_%281%29.png?type=w1200" alt="profile">
                    <div class="content">
                        <div style="margin: 60px 10px 0 10px">
                            <p>
                                <a class="mypage" href="../mypage">내 정보 관리</a>
                            </p>
                            <p>
                                <a href='#'>담당 객실 관리</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="banner">
                    <div style="text-align: center; position: relative; top: 40%">배너? 뭐 넣을까요</div>
                </div>
    
            </div>
        </div>
        
        
    </body>
</html>
