<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!-- <script src="frontend.js" defer></script> -->
    <title>내 정보</title>
</head>
<body>
    <%- include('./nav'); %>
    <div style="width: max-content; margin: 100px 0 0 500px;">
        <section id="mypage">
            <img src="Spain.png" width=60 alt="profile photo" class="staff_profile">
            <div class="name">name</div>
            <div class="idnum"></div>
            <div class="department"></div>
            <div class="position"></div>
            <div class="language"></div>
            <div class="phonenum"></div>
            <div class="email"></div>
            <div class="address"></div>
            <div class="accountnum">계좌번호</div>
        </section>
    </div>
    
</body>
</html>
