<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!-- <script src="frontend.js" defer></script> -->
    <title>Mypage</title>
</head>
<body>
    <%- include('./nav'); %>
    <section id="mypage">
        <img src="public/spain.png" alt="profile photo" class="staff_profile">
        <div class="name">name</div>
        <div class="idnum"></div>
        <div class="department"></div>
        <div class="position"></div>
        <div class="language"></div>
        <div class="phonenum"></div>
        <div class="email"></div>
        <div class="address"></div>
        <div class="accountnum">계좌번호</div>
    </section>
</body>
</html>
