<!-- 자동 새로고침 기능 확인을 위한 웹페이지, 추후 삭제 예정 -->

<head>
    <meta charset="utf-8">
    <script>
        setTimeout(function(){
            location.reload();
        },3000);
    </script>
</head>
<body>
    <p> <%=row%> </p>
</body> 