<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="request.css">
    </head>
    <body>
        <div id="request">
            <div class="list">
                <div id="requestItem">
                    <p class='title'>
                        제목1
                    </p>
                    <p class="content">
                        내용1
                    </p>
                </div>
        
                <div id="requestItem">
                    <p class='title'>
                        제목2
                    </p>
                    <p class="content">
                        내용2
                    </p>
                </div>
        
                <div id="requestItem">
                    <p class='title'>
                        제목3
                    </p>
                    <p class="content">
                        내용3
                    </p>
                </div>
        
                <div id="requestItem">
                    <p class='title'>
                        제목4
                    </p>
                    <p class="content">
                        내용4
                    </p>
                </div>
        
                <div id="requestItem">
                    <p class='title'>
                        제목5
                    </p>
                    <p class="content">
                        내용5
                    </p>
                </div>
        
                <div id="requestItem">
                    <p class='title'>
                        제목6
                    </p>
                    <p class="content">
                        내용6
                    </p>
                </div>
        
                <div id="requestItem">
                    <p class='title'>
                        제목7
                    </p>
                    <p class="content">
                        내용7
                    </p>
                </div>
        
                <div id="requestItem">
                    <p class='title'>
                        제목8
                    </p>
                    <p class="content">
                        내용8
                    </p>
                </div>
        
                <div id="requestItem">
                    <p class='title'>
                        제목9
                    </p>
                    <p class="content">
                        내용9
                    </p>
                </div>
            </div>
            <button>+</button>
        </div>
    </body>
</html>