<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>객실관리</title>
	<link rel="stylesheet" type="text/css" href="room.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="http://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>


	<!--특이사항 입력을 위한 부분 : 입력한대로 화면 출력 및 저장-->
	<script>
		window.onload = function () {
			document.getElementById("save").onclick = processText;
		}
		function processText() {
			var txtBox = document.getElementById("inputbox");
			var lines = txtBox.value.split("\n");
			var resultString = `<ul class="resultString">`;
			for (var i = 0; i < lines.length; i++) {
				resultString += '<li>' + lines[i] + '</li>';
			}
			resultString += '</ul>';
			var blk = document.getElementById("result");
			blk.innerHTML = resultString;
		}
	</script>

	<!-- 층별보기 -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
        $(document).ready(function(){
            $('#floor3').click(function(){
                var offset = $('#301').offset(); //선택한 태그의 위치를 반환
								console.log(offset);
                $('.table').animate({scrollTop : 0}, 300);
            });
			$('#floor4').click(function(){
                var offset = $('#401').offset();
																console.log(offset);
                $('.table').animate({scrollTop :450}, 300);
            });
			$('#floor5').click(function(){
                var offset = $('#501').offset();
																console.log(offset);
                $('.table').animate({scrollTop : 900}, 300);
            });
			$('#floor6').click(function(){
                var offset = $('#601').offset();
																console.log(offset);
                $('.table').animate({scrollTop : 1350}, 300);
            });
			$('#floor7').click(function(){
                var offset = $('#701').offset();
																console.log(offset);
                $('.table').animate({scrollTop : 1800}, 300);
            });
			$('#floor8').click(function(){
                var offset = $('#801').offset();
																console.log(offset);
                $('.table').animate({scrollTop : 2250}, 300);
            });
			$('#floor9').click(function(){
                var offset = $('#901').offset();
                $('.table').animate({scrollTop : 2700}, 300);
            });
			$('#floor10').click(function(){
                var offset = $('#1001').offset();
                $('.table').animate({scrollTop : 3157}, 300);
            });
			$('#floor11').click(function(){
                var offset = $('#1101').offset();
                $('.table').animate({scrollTop : 3625}, 300);
            });
			$('#floor12').click(function(){
                var offset = $('#1201').offset();
                $('.table').animate({scrollTop : 4200}, 300);
            });
        });
    </script>
</head>

<body>
	<div style="margin-left: 8.4px; margin-top: 8px;"><%- include('./nav'); %></div>
	<div style="height: max-content; padding-bottom: 10px; background-color: #f8f8f8;">
		<div class="body">
			<!-- 층별보기 -->
			<div class = "floor">
				<button id="floor3"><div class="button">3층</div></button>
				<div id=""></div>
				<button id="floor4"><div class="button">4층</div></button>
				<div id=""></div>
				<button id="floor5"><div class="button">5층</div></button>
				<div id=""></div>
				<button id="floor6"><div class="button">6층</div></button>
				<div id=""></div>
				<button id="floor7"><div class="button">7층</div></button>
				<div id=""></div>
				<button id="floor8"><div class="button">8층</div></button>
				<div id=""></div>
				<button id="floor9"><div class="button">9층</div></button>
				<div id=""></div>
				<button id="floor10"><div class="button">10층</div></button>
				<div id=""></div>
				<button id="floor11"><div class="button">11층</div></button>
				<div id=""></div>
				<button id="floor12"><div class="button">12층</div></button>
				<div id=""></div>
			</div>

			<!--- 실시간 반영을 위한 부분(팝업, 객실 테이블)-->
			<div class = 'table' style="width: 620px;"></div>

			<%- include('./request'); %>
		</div>	
	</div>

	<div class="popup">
		<div style="text-align: right;">
			<svg class="close" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
					clip-rule="evenodd">
					<path
						d="M12 11.293l10.293-10.293.707.707-10.293 10.293 10.293 10.293-.707.707-10.293-10.293-10.293 10.293-.707-.707 10.293-10.293-10.293-10.293.707-.707 10.293 10.293z" />
				</svg>
		
		</div>
		<h2 id="popup_room"></h2>
		<div>
			<table class="type1">
				<tbody>
					<tr>
						<th>미결제 금액</th>
						<td id="popup_should_paid"> 원</td>
					</tr>
					<tr>
						<th>담당 직원</th>
						<td id="popup_staff"></td>
					</tr>
					<tr>
						<th>입실 시간</th>
						<td id="popup_checkin"></td>
					</tr>
					<tr>
						<th>퇴실 예정 시간</th>
						<td id="popup_checkout"></td>
					</tr>
					<tr>
						<th>특이 사항</th>
						<td>
							<textarea id="inputbox" cols="43" rows="6"></textarea>
							<div><button id="save" class="commit" style="border: none; margin-bottom: 2px;">저장</button>
							</div>
							<div id="result"></div>
							<div><button id="btn22">수정</button></div>
						</td>
					</tr>
					<tr>
						<th><label for="txt6">투숙 인원</label></th>
						<td id="popup_personnel"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div style="text-align: right; margin-top: 50px;">
			<a href="#a" class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
					<path
						d="M15 16v5l9-10.062-9-9.938v5c-14.069 1.711-19.348 15.107-10.606 16.981-3.804-2.936 3.251-7.441 10.606-6.981z" />
				</svg>방이동</a>
			<a href="/checkout" id="checkout" class="btn"><svg width="22" height="22" xmlns="http://www.w3.org/2000/svg"
					fill-rule="evenodd" clip-rule="evenodd">
					<path
						d="M11 21h8v-2l1-1v4h-9v2l-10-3v-18l10-3v2h9v5l-1-1v-3h-8v18zm10.053-9l-3.293-3.293.707-.707 4.5 4.5-4.5 4.5-.707-.707 3.293-3.293h-9.053v-1h9.053z" />
				</svg>체크아웃</a>
		</div>
	</div>
	<div class="dim"></div>
</body>

<!-- 새로고침을 위한 코드 -->
<script>
	function get_table_data() {
		$.ajax({
			type: 'GET',
			url: '/reload_table',
			success: (data) => {
				$('.table').html(data);
				console.log(data);
				setTimeout('get_table_data()', 1000);
			}
		});
	}
	get_table_data();
</script>

</html>
