<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>매출관리</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="cardfooter.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    <!-- 차트 링크 --> 
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/i18n/datepicker-ko.js"></script>
    <!-- 부트스트랩 -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 
    <style>
        .avatar--md .avatar__content img {
            width: 40px;
            height: 40px;
        }

        #deliver {
            background-color: powderblue;
            border: none;
            border-radius: 5px;
            color: white;
            padding: 10px;
        }

        #deliver:hover {
            background-color: rgb(79, 158, 168);
        }

        #list {
            text-align: center !important;
        }

        #list th {
            text-align: center !important;
        }

        input[type=text],
        input[type=password] {
            font-family: "Malgun Gothic", "맑은 고딕", Dotum, "돋움", Arial, sans-serif
        }

        * {
            margin: 0;
            padding: 0;
            font-family: "Malgun Gothic", "맑은 고딕", Dotum, "돋움", Arial, sans-serif
        }

        body {
            font-size: 12px;
            color: #555;
            background: transparent;
            -webkit-user-select: none;
            -moz-user-select: none;
            -webkit-text-size-adjust: none;
            -moz-text-size-adjust: none;
            -ms-text-size-adjust: none
        }

        ol,
        ul {
            list-style: none
        }

        table {
            table-layout: fixed;
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0
        }

        caption {
            overflow: hidden;
            width: 0;
            height: 0;
            font-size: 0;
            line-height: 0;
            text-indent: -999em
        }

        img,
        fieldset {
            border: 0
        }

        legend {
            height: 0;
            visibility: hidden
        }

        em,
        address {
            font-style: normal
        }

        img {
            border: 0 none;
            vertical-align: middle
        }

        a {
            color: #555;
            text-decoration: none
        }

        input,
        select {
            margin: 0;
            padding: 0;
            vertical-align: middle
        }

        button {
            margin: 0;
            padding: 0;
            font-family: inherit;
            border: 0 none;
            background: transparent;
            cursor: pointer
        }

        button::-moz-focus-inner {
            border: 0;
            padding: 0
        }

        header,
        footer,
        aside,
        nav,
        section,
        article {
            display: block
        }

        .clearfix {
            *zoom: 1
        }

        .clearfix:after {
            content: "";
            display: block;
            clear: both;
            overflow: hidden
        }

        /* Search */
        .searchBox {
            border: none
        }

        .searchBox tbody th {
            padding: 20px 10px 20px 35px;
            font-size: 14px;
            font-weight: bold;
            text-align: left;
            vertical-align: top;
            border: none;
            background: #e6e6e6
        }

        .searchBox tbody td {
            padding: 12px 10px 12px 25px;
            border: none;
            background-color: #efefef
        }

        .searchDate {
            overflow: hidden;
            margin-bottom: 10px;
            *zoom: 1
        }

        .searchDate:after {
            display: block;
            clear: both;
            content: ''
        }

        .searchDate li {
            position: relative;
            float: left;
            margin: 0 7px 0 0
        }

        .searchDate li .chkbox2 {
            display: block;
            text-align: center
        }

        .searchDate li .chkbox2 input {
            position: absolute;
            z-index: -1
        }

        .searchDate li .chkbox2 label {
            display: block;
            width: 72px;
            height: 26px;
            font-size: 14px;
            font-weight: bold;
            color: #fff;
            text-align: center;
            line-height: 25px;
            text-decoration: none;
            cursor: pointer;
            background: #a5b0b6
        }

        .searchDate li .chkbox2.on label {
            background: #ec6a6a
        }

        .demi {
            display: inline-block;
            margin: 0 1px;
            vertical-align: middle
        }

        .inpType {
            padding-left: 6px;
            height: 24px;
            line-height: 24px;
            border: 1px solid #dbdbdb
        }

        .btncalendar {
            display: inline-block;
            width: 22px;
            height: 22px;
            background: url(images/btn_calendar.gif) center center no-repeat;
            text-indent: -999em
        }
    </style>
     <script>                

        $(document).ready(function() {

            //datepicker 한국어로 사용하기 위한 언어설정
            $.datepicker.setDefaults($.datepicker.regional['ko']);     
        
            // Datepicker            
            $(".datepicker").datepicker({
                showButtonPanel: true,
                dateFormat: "yy-mm-dd",
                onClose : function ( selectedDate ) {
                
                    var eleId = $(this).attr("id");
                    var optionName = "";

                    if(eleId.indexOf("StartDate") > 0) {
                        eleId = eleId.replace("StartDate", "EndDate");
                        optionName = "minDate";
                    } else {
                        eleId = eleId.replace("EndDate", "StartDate");
                        optionName = "maxDate";
                    }

                    $("#"+eleId).datepicker( "option", optionName, selectedDate );        
                    $(".searchDate").find(".chkbox2").removeClass("on"); 
                }
            }); 

            //시작일.
            /*$('#searchStartDate').datepicker("option","onClose", function( selectedDate ) {    
                // 시작일 datepicker가 닫힐때
                // 종료일의 선택할수있는 최소 날짜(minDate)를 선택한 시작일로 지정
                $("#searchEndDate").datepicker( "option", "minDate", selectedDate );
                $(".searchDate").find(".chkbox2").removeClass("on");
            });
            */

            //종료일.
            /*$('#searchEndDate').datepicker("option","onClose", function( selectedDate ) {    
                // 종료일 datepicker가 닫힐때
                // 시작일의 선택할수있는 최대 날짜(maxDate)를 선택한 종료일로 지정 
                $("#searchStartDate").datepicker( "option", "maxDate", selectedDate );
                $(".searchDate").find(".chkbox2").removeClass("on");
            });
            */

            $(".dateclick").dateclick();    // DateClick
            $(".searchDate").schDate();        // searchDate
            
        });

        // Search Date
        jQuery.fn.schDate = function(){
            var $obj = $(this);
            var $chk = $obj.find("input[type=radio]");
            $chk.click(function(){                
                $('input:not(:checked)').parent(".chkbox2").removeClass("on");
                $('input:checked').parent(".chkbox2").addClass("on");                    
            });
        };

        // DateClick
        jQuery.fn.dateclick = function(){
            var $obj = $(this);
            $obj.click(function(){
                $(this).parent().find("input").focus();
            });
        }    

        
        function setSearchDate(start){

            var num = start.substring(0,1);
            var str = start.substring(1,2);

            var today = new Date();

            //var year = today.getFullYear();
            //var month = today.getMonth() + 1;
            //var day = today.getDate();
            
            var endDate = $.datepicker.formatDate('yy-mm-dd', today);
            $('#searchEndDate').val(endDate);
            
            if(str == 'd'){
                today.setDate(today.getDate() - num);
            }else if (str == 'w'){
                today.setDate(today.getDate() - (num*7));
            }else if (str == 'm'){
                today.setMonth(today.getMonth() - num);
                today.setDate(today.getDate() + 1);
            }

            var startDate = $.datepicker.formatDate('yy-mm-dd', today);
            $('#searchStartDate').val(startDate);
                    
            // 종료일은 시작일 이전 날짜 선택하지 못하도록 비활성화
            $("#searchEndDate").datepicker( "option", "minDate", startDate );
            
            // 시작일은 종료일 이후 날짜 선택하지 못하도록 비활성화
            $("#searchStartDate").datepicker( "option", "maxDate", endDate );
        }
        </script>
    </head>
<body>
    <div style="margin-left: 8.4px; margin-top: 8px;"><%- include('./nav'); %></div>
    <div style="background-color: #f8f8f8; height: max-content; padding-bottom: 10px;">
        <div class="container"> 
            <canvas id="myChart"></canvas> 
        </div> 
        <!-- 차트 --> 
        <script>
            var ctx = document.getElementById('myChart'); 
            var myChart = new Chart(ctx, {
                type: 'bar', 
                data: { 
                    labels: ['2020/12/02', '2020/12/03', '2020/12/04', '2020/12/05', '2020/12/06', '2020/12/07', '2020/12/08'], 
                    datasets: [{ 
                        label: '최근 일주일 일별 매출액', 
                        data: [220, 295, 310, 245, 259, 304,300], 
                        backgroundColor: [ 
                            'rgba(255, 80, 132, 0.3)', 
                            'rgba(255, 159, 64, 0.3)' ,
                            'rgba(255, 206, 86, 0.3)', 
                            'rgba(75, 192, 192, 0.3)', 
                            'rgba(54, 162, 245, 0.3)', 
                            'rgba(153, 102, 255, 0.3)', 
                            
                            'rgba(213, 97, 213, 0.3)' ,
                        ], 
                        borderColor: [ 
                            'rgba(255, 80, 132, 1)', 
                            'rgba(255, 159, 64, 1)',
                            'rgba(255, 206, 86, 1)', 
                            'rgba(75, 192, 192, 1)', 
                            'rgba(54, 162, 245, 1)', 
                            'rgba(153, 102, 255, 1)', 
                            
                            'rgba(213, 97, 213, 1)' ,
                        ], 
                        borderWidth: 1 
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: { 
                                beginAtZero: true,
                                stepSize:50,
                                max: 500
                                } 
                            }] 
                        } 
                    } 
                }); 
        </script>

        <form>
            <!-- search -->
            <!-- 중앙정렬 필요.. -->
            <table class="searchBox" >
                <caption>조회</caption>
                <colgroup>
                    <col width="123px">
                    <col width="*">
                </colgroup>
                <tbody>
                    <tr>
                        <th>조회기간</th>
                        <td>
                            <ul class="searchDate">
                                <li>
                                    <span class="chkbox2">
                                        <input type="radio" name="dateType" id="dateType1" onclick="setSearchDate('0d')"/>
                                        <label for="dateType1">당일</label>
                                    </span>
                                </li>
                                <li>
                                    <span class="chkbox2">
                                        <input type="radio" name="dateType" id="dateType2" onclick="setSearchDate('3d')"/>
                                        <label for="dateType2">3일</label>
                                    </span>
                                </li>
                                <li>
                                    <span class="chkbox2">
                                        <input type="radio" name="dateType" id="dateType3" onclick="setSearchDate('1w')"/>
                                        <label for="dateType3">1주</label>
                                    </span>
                                </li>
                                <li>
                                    <span class="chkbox2">
                                        <input type="radio" name="dateType" id="dateType4" onclick="setSearchDate('2w')"/>
                                        <label for="dateType4">2주</label>
                                    </span>
                                </li>
                                <li>
                                    <span class="chkbox2">
                                        <input type="radio" name="dateType" id="dateType5" onclick="setSearchDate('1m')"/>
                                        <label for="dateType5">1개월</label>
                                    </span>
                                </li>
                                <li>
                                    <span class="chkbox2">
                                        <input type="radio" name="dateType" id="dateType6" onclick="setSearchDate('3m')"/>
                                        <label for="dateType6">3개월</label>
                                    </span>
                                </li>
                                <li>
                                    <span class="chkbox2">
                                        <input type="radio" name="dateType" id="dateType7" onclick="setSearchDate('6m')"/>
                                        <label for="dateType7">6개월</label>
                                    </span>
                                </li>
                            </ul>
                            
                            <div class="clearfix">
                                <!-- 시작일 -->
                                <span class="dset">
                                    <input type="text" class="datepicker inpType" name="searchStartDate" id="searchStartDate" >
                                    <a href="#none" class="btncalendar dateclick">달력</a>
                                </span>
                                <span class="demi">~</span>
                                <!-- 종료일 -->
                                <span class="dset">
                                    <input type="text" class="datepicker inpType" name="searchEndDate" id="searchEndDate" >
                                    <a href="#none" class="btncalendar dateclick">달력</a>
                                </span>
                            </div>    
                        </td>
                    </tr>

                <tbody>
            </table>
            </form>



        <div class="container" style="padding-top: 70px;">
            <div class="row" style="width: 1000px; margin: 0;">
                <div class="col-lg-9" style="margin: 0; width: 1100px;">
                    <!-- 검색창 -->
                    <!-- 필터링 선택 부분 -->
                    <div class="col-md-6 col-lg-3 my-3" style="padding: 0; margin-bottom: 5px;">
                        </div>
                    </div>
                    <div class="mb-3 Card_custom-card--border_5wJKy card">
                        <div class="table-responsive-xl">
                            <table class="mb-0 table table-hover" id="list">
                                <thead></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="d-flex justify-content-center pb-0 card-footer" style="text-align: center;">
                            <nav class="" aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item"><a href="#" class="page-link" aria-label="Previous"><span
                                                aria-hidden="true"><i class="fa fa-fw fa-angle-left"></i></span><span
                                                class="sr-only">Previous</span></a></li>
                                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                                    <li class="page-item"><a href="#" class="page-link" aria-label="Next"><span
                                                aria-hidden="true"><i class="fa fa-fw fa-angle-right"></i></span><span
                                                class="sr-only">Next</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>