<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <title>
            직원관리
        </title>
        <meta charset='UTF-8'>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
            *{
                font-family: 'Nanum Gothic', sans-serif;
            }
            table, th, td {
                border: 1px solid #bcbcbc;
                border-radius: 5px;
                border-collapse: collapse;
                text-align: center;
                padding: 5px;
            }
        </style>
    </head>
    <body>
        <%- include('./nav'); %>
        <div style="margin: 120px 0 0 400px; width: max-content;">
            <div>
                <input style="width: 154px;"type="text" placeholder="사번, 이름, 부서, 출근 여부">
                <button>검색</button>
            </div>
            <table>
            <tbody>
                <tr>
                    <td width="150px">
                        <img src="profile.png" height="117px">
                    </td>
                        <td>
                            <table>
                                <tbody>
                                    <tr>
                                        <th>이름</th>
                                        <td>하현우</td>
                                    </tr>
                                    <tr>
                                        <th>부서</th>
                                        <td>소프트웨어학부</td>
                                    </tr>
                                    <tr>
                                        <th>전화번호</th>
                                        <td>010-1234-5678</td>
                                    </tr>
                                    <tr>
                                        <th>이메일</th>
                                        <td>high092@naver.com</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
