@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
* {
    font-family: 'Nanum Gothic', sans-serif;
}
#menu {
    height: 30px;
    width: 900px;
    /* (NROW*WEIGHT) */
    margin: 0 50px 30px 250px;
    /* margin: auto auto 30px; */
}
#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#menu ul li {
    line-height: 30px;
    /* HEIGHT */
    vertical-align: middle;
    text-align: center;
    /* display: inline-block; */
    float: left;
    position: relative;
}
.menuItem, .submenuItem {
    text-decoration: none;
    display: inline-block;
    width: 150px;
    /* 기본 넓이를 150px로 설정 */
    font-size: 16.5px;
    font-weight: bold;
}
.menuItem {
    color: black;
}
.menuItem:hover .menuItem {
    color: powderblue;
    border-bottom: solid 3px powderblue;
}
.submenuItem {
    color: black;
    margin-top: -1px;
    background-color: white;
    z-index: 6;
}

.submenuItem:hover {
    text-decoration: none;
}

.submenu {
    position: absolute;
    height: 0;
    overflow: hidden;
    border-radius: 10px;
    /* 부모보다 커지면 숨어 */
    /* transition: height 0s; */
}
.menuItem:hover .submenu {
    height: 120px;
    /* (MAX_CONTENT_NUM)*HEIGHT */
}
.submenuItem:hover {
    color: powderblue;
}
a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
}

#logout {
    height: max-content;
    margin-left: 0;
    font-size: 14px;
}
#logout:hover {
    font-weight: normal;
    cursor: pointer;
}