@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
*{
    font-family: 'Nanum Gothic', sans-serif;
}

#request .list {
    /* margin: 100px 0 0 100px; */
    width: max-content;
    overflow-y: scroll;
    height: 600px;
}

#requestItem {
    width: 200px;
    border-bottom: dotted 2px black;
}

#requestItem .title {
    font-weight: bold;
}

#request {
    margin: 100px 0 0 100px;
}


#request .btn-lg {
    border-radius: 100px;
    border: 1px solid powderblue;
    background-color: powderblue;
    color: #fff;
    margin: 10px 8px;
    padding: 15px 80px;
    font-size: 20px;
}

#request .btn-lg:hover {
    background-color: rgb(61, 141, 151);

}
/* realtime request 추가부분  */
.request_box {
  float:left;
}
#sort {
   border:2px solid #000;
   float:right;
}
