@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
*{
    font-family: 'Nanum Gothic', sans-serif;
}

.btn {
    margin: 5px;
}
body {
    /* padding: 50px; */
    box-sizing: border-box;
}
.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 100;
    padding: 52px 60px 60px;
    width: 600px;
    height: 550px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    background: #fff;
}
.dim {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.1);
}
.type1 {
    border: solid 1px black;
    border-radius: 5px;
    width: 450px;
}


.type1 td{
    border: solid 1px black;
    border-radius: 3px;
    text-align: right;
    padding-right: 5px;
}

.type1 th {
    border: solid 1px black;
    border-radius: 3px;
    background-color: powderblue;
}

h2 {
    margin-top: 0;
    margin-bottom: 40px;
}

.profile {
    display: flex;
    margin: 150px 0px 100px 400px;
    width: max-content;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
}

.prfimg {
    width: 120px;
    border-radius: 50px;
}

.profile .content {
    vertical-align: middle;
}

.table {
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(20, 150px);
    width: max-content;
    height: 600px;
    margin: 100px 0 0 10px;
    border: solid 1px black;
}

.table div {
    border: solid 1px black;
}

.body {
    display: flex;
}


.icon_plus {
    margin-left: 33px;
    fill: rgb(175, 175, 175);
}

.status_icon{
    fill: rgb(207, 207, 207);
}

.using .icon_plus:hover {
    cursor: pointer;
    fill: black;
}

#trashcan.fill {
    fill: rgb(95, 95, 95);
}

#key.fill {
    fill: rgb(221, 188, 0);
}

#docs.fill {
    fill: brown;
}

.table div {
    padding: 2px;
}

.icon_checkout {
    fill: rgb(175, 175, 175);
    cursor: default;
}

.using .icon_checkout:hover {
    fill: black;
    cursor: pointer;
}

.commit, #inputbox{
    display: none;
}

.resultString {
    text-align: left;
    padding-left: 20px;
}

#modify {
    display: none;
}

.floor {
    margin: 100px 0 0 520px;
}

.floor .button {
    width: 30px;
}