<html>
    <button onclick="dosth();">dosth</button>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>
        function dosth() {
            $.ajax({
                url: '/checkout',
                method: 'POST',
                data: {
                    email : 'alsrud606@hanyang.ac.kr',
                    time : '2020-11-22 22:48:12'
                },
                success: (data) => {
                    if (data.success) {
                        console.log(data.charge);           // 총 비용
                        console.log(data.one_day_charge);   // 일당 숙박비
                        console.log(data.stay_day);         // 숙박일
                        console.log(data.stay_charge);      // 숙박비
                        console.log(data.service_charge);   // 룸서비스 비용
                    } 
                    else {
                        console.log(data.error);            // 실패 원인
                    }
                }
            })
        }
    </script>
</html>