<html>
    <button onclick="dosth();">dosth</button>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>
        function dosth() {
            $.ajax({
                url: '/checkin',
                method: 'POST',
                data: {
                    email: 'alsrud606@hanyang.ac.kr',
                    time: '2020-11-22 22:48:12'
                },
                success: (data) => {
                    if (data.success) {
                        // user_id : 담당직원 사번
                        // user_name : 담당직원 이름
                        // room_num : 객실번호
                        // type_changed : 객실부족으로 인한 방타입의 변경이 있었는가?
                        // priority : 담당직원의 언어 우선순위
                    }
                    else {
                        console.log(data.error);     // 실패 원인
                    }
                }
            })
        }
    </script>
</html>